# Python bytecode / caches
__pycache__/
*.py[cod]
*.pyo
*$py.class

# Virtual envs
venv/
.venv/
env/
ENV/

# Local env files
.env
.env.*

# Flet / runtime artifacts & logs
*.log
app/debug_ui.log

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.whl
*.zip

# Testing / coverage
.pytest_cache/
coverage.xml
.coverage
htmlcov/

# Type / lint caches
.mypy_cache/
.python-version
.ropeproject/

# Optional: temporary / editor files
*.swp
*~

*.csv
Data/
data/